*, *::before, *::after {
    box-sizing: border-box;
}

/* hidden input and labels */
#other-gender-label,
#other-diet-type-label,
#food-allergies-details-label,
#nutritional-supplements-details-label,
#other-trigger-description,
#other-activity-description {
    display: none;
}

body {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(115deg,
            rgba(92, 184, 92, 0.6),
            rgba(63, 149, 61, 0.7)), url('images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 48px;
    margin-bottom: -5px;
}

header p {
    font-style: italic;
    opacity: 0.8;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    background: linear-gradient(90deg, rgba(92, 184, 92, 0.5),
            rgba(63, 149, 61, 0.5));
    border-radius: 5px;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    font-size: 24px;
}

.embedded-legend {
    font-size: unset;
    font-weight: normal;
}


label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.inline {
    width: unset;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

button {
    background-color: rgba(0, 127, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(0, 255, 0, 0.3);
    transition: 500ms;
}

footer {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}