/* Reset some default styles */
body, h1, p, form, fieldset {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    color: #333;
    position: relative;
}

/* Styling for background image */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the pseudo-element behind the content */
    background-image: url('images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(1.5px);
}

header, main, footer {
    position: relative;
    z-index: 1; /* Ensures the content appears above the pseudo-element */
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 3em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* hidden input and labels */
#other-gender-label,
#other-diet-type-label,
#food-allergies-details-label,
#nutritional-supplements-details-label,
#other-trigger-description,
#other-activity-description {
    display: none;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    color: #333;
    font-size: 20px;
}

.embedded-legend {
    font-size: unset;
    font-weight: normal;
}


label {
    display: block;
    margin-bottom: 10px;
}

.inline {
    width: unset;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}